.carouselImg
{
  width:100%;
  height:500px;
  opacity: 10%;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: rgba(3, 3, 53, 0.925);
}
.carousel-caption .d-none .d-md-block .h5, h5 {
    font-size: 1.25rem;
    color: rgba(3, 3, 53, 0.925);
    font-family: cursive;
}
.carousel-dark .carousel-caption {
    color: rgba(3, 3, 53, 0.925);
    font-family: cursive;
}
.accordion-button:not(.collapsed) {
    font-weight: bold;
    color: rgba(3, 3, 53, 0.925);
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
